@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modal-input {
    @apply w-full h-full px-2 text-xs text-white bg-green-500 rounded-md outline-none shadow-green-300 placeholder:text-gray-300;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
  width: 100%;
  background: #000000e1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal {
  width: clamp(40%, 500px, 90%);
  min-height: min(50%, 500px);
  margin: 0 auto;
  padding: 0 1rem;
  border-radius: 12px;
  z-index: 12;
  
}

